<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Base -->
  <xacro:macro name="base"  params="robot_name">

    <link name="${robot_name}_base_link"></link>

    <!-- CHASSIS -->
    <joint name="${robot_name}_base_link_chasis_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_name}_base_link"/>
      <child link="${robot_name}_chassis_link" />
    </joint>
    <link name="${robot_name}_chassis_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://ridgeback_description/meshes/body.stl"/>
        </geometry>
        <material name="black" />
      </visual>
      <inertial>
        <origin xyz="0.012 0.002 0.067" rpy="${PI/2} 0 ${PI/2}"/>
        <mass value="165.304"/>
        <inertia
          ixx="4.4744" ixy="0.03098" ixz="0.003647"
          iyy="7.1624" iyz="0.1228"
          izz="4.6155"/>
      </inertial>
    </link>

    <joint name="${robot_name}_right_side_cover_link_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_name}_chassis_link"/>
      <child link="${robot_name}_right_side_cover_link" />
    </joint>
    <link name="${robot_name}_right_side_cover_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://ridgeback_description/meshes/side-cover.stl"/>
        </geometry>
        <material name="yellow" />
      </visual>
    </link>

    <joint name="${robot_name}_left_side_cover_link_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_name}_chassis_link"/>
      <child link="${robot_name}_left_side_cover_link" />
    </joint>
    <link name="${robot_name}_left_side_cover_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${PI}" />
        <geometry>
          <mesh filename="package://ridgeback_description/meshes/side-cover.stl"/>
        </geometry>
        <material name="yellow" />
      </visual>
    </link>


    <joint name="${robot_name}_front_cover_link_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_name}_chassis_link"/>
      <child link="${robot_name}_front_cover_link" />
    </joint>
    <link name="${robot_name}_front_cover_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://ridgeback_description/meshes/end-cover.stl" />
        </geometry>
        <material name="black" />
      </visual>
    </link>

    <joint name="${robot_name}_rear_cover_link_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_name}_chassis_link"/>
      <child link="${robot_name}_rear_cover_link" />
    </joint>
    <link name="${robot_name}_rear_cover_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${PI}" />
        <geometry>
          <mesh filename="package://ridgeback_description/meshes/end-cover.stl" />
        </geometry>
        <material name="black" />
      </visual>
    </link>

    <joint name="${robot_name}_front_lights_link_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_name}_chassis_link"/>
      <child link="${robot_name}_front_lights_link" />
    </joint>
    <link name="${robot_name}_front_lights_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://ridgeback_description/meshes/lights.stl" />
        </geometry>
        <material name="white" />
      </visual>
    </link>

    <joint name="${robot_name}_rear_lights_link_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_name}_chassis_link"/>
      <child link="${robot_name}_rear_lights_link" />
    </joint>
    <link name="${robot_name}_rear_lights_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${PI}" />
        <geometry>
          <mesh filename="package://ridgeback_description/meshes/lights.stl" />
        </geometry>
        <material name="red" />
      </visual>
    </link>


    <joint name="${robot_name}_top_link_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_name}_chassis_link"/>
      <child link="${robot_name}_top_link" />
    </joint>
    <link name="${robot_name}_top_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://ridgeback_description/meshes/top.stl" />
        </geometry>
        <material name="black" />
      </visual>
    </link>

    <joint name="${robot_name}_axle_joint" type="fixed">
      <origin xyz="0 0 ${axle_offset}" rpy="0 0 0" />
      <parent link="${robot_name}_chassis_link"/>
      <child link="${robot_name}_axle_link" />
    </joint>
    <link name="${robot_name}_axle_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 ${PI/2} 0" />
        <geometry>
          <mesh filename="package://ridgeback_description/meshes/axle.stl" />
        </geometry>
        <material name="black" />
      </visual>
    </link>


    <link name="${robot_name}_mid_mount" />
    <joint name="mid_mount_joint" type="fixed">
      <parent link="${robot_name}_base_link" />
      <child link="${robot_name}_mid_mount" />
      <origin xyz="0 0 ${deck_height}" rpy="0 0 0"/>
    </joint>


    <link name="${robot_name}_imu_link">
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="${dummy_inertia}" ixy="0.0" ixz="0.0" iyy="${dummy_inertia}" iyz="0.0" izz="${dummy_inertia}"/>
      </inertial>
    </link>
    <joint name="${robot_name}_imu_joint" type="fixed">
      <parent link="${robot_name}_chassis_link" />
      <child link="${robot_name}_imu_link" />
      <origin xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>
