<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joystick" default="true" />

  <node pkg="turtlesim" name="sim" type="turtle_teleop_key">
    <remap from="/turtle1/cmd_vel" to="/cmd_vel" />
  </node>

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
    <remap from="twist_marker_server/cmd_vel" to="/cmd_vel" />
  </node>

</launch>
