<?xml version="1.0"?>
<robot name="ridgeback" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931" />

  <xacro:property name="wheel_radius" value="0.0759" />
  <xacro:property name="wheel_width" value="0.0790" />

  <xacro:property name="chassis_length" value="0.960" />
  <xacro:property name="chassis_width" value="0.793" />
  <xacro:property name="chassis_height" value="0.216" />
  <xacro:property name="deck_height" value="0.280" />

  <xacro:property name="axle_offset" value="0.0500" />
  <xacro:property name="rocker_offset" value="0.319" />
  <xacro:property name="rocker_width" value="0.472" />

  <xacro:property name="imu_offset_x" value="0.2085" />
  <xacro:property name="imu_offset_y" value="-0.2902" />
  <xacro:property name="imu_offset_z" value="0.1681" />

  <xacro:property name="dummy_inertia" value="1e-09"/>

  <material name="dark_grey"><color rgba="0.2 0.2 0.2 1.0" /></material>
  <material name="light_grey"><color rgba="0.4 0.4 0.4 1.0" /></material>
  <material name="red"><color rgba="0.8 0.0 0.0 1.0" /></material>
  <material name="white"><color rgba="0.9 0.9 0.9 1.0" /></material>
  <material name="yellow"><color rgba="0.8 0.8 0.0 1.0" /></material>
  <material name="black"><color rgba="0.15 0.15 0.15 1.0" /></material>

  <xacro:include filename="$(find ridgeback_description)/urdf/base/base.urdf.xacro"/>
  <xacro:include filename="$(find ridgeback_description)/urdf/rocker/rocker.urdf.xacro"/>
  <xacro:include filename="$(find ridgeback_description)/urdf/wheel/wheel.urdf.xacro"/>

  <xacro:include filename="$(find cri_efe_aruco)/urdf/single_markers/marker_6.urdf.xacro"/>
  <xacro:include filename="$(find cri_efe_aruco)/urdf/multi_markers/multi_marker_0.urdf.xacro"/>



  <xacro:base prefix=""/>

  <xacro:rocker prefix="front" joint_type="revolute" location="1" >
    <limit lower="-0.08726" upper="0.08726" effort="0" velocity="0" />
  </xacro:rocker>

  <xacro:rocker prefix="rear" joint_type="fixed" location="-1" >
    <limit effort="0" velocity="0" />
  </xacro:rocker>



  <!--xacro:marker_6 name="marker6" pad_base="top_link" marker_pos="0 0.2 0.285" scale="2.0"/-->

  <xacro:multi_marker_0 pad_base="top_link" x="0" y="0.2" z="0.29" yaw="0.0" scale="1.0"/>




  <!-- Bring in simulation data for Gazebo. -->
  <xacro:include filename="$(find ridgeback_description)/urdf/ridgeback.gazebo" />
  <!-- Optional standard accessories, including their simulation data. The rendering
       of these into the final description is controlled by optenv variables, which
       default each one to off.-->
  <xacro:include filename="$(find ridgeback_description)/urdf/accessories.urdf.xacro" />
  <!-- Optional custom includes. -->
  <xacro:include filename="$(optenv RIDGEBACK_URDF_EXTRAS empty.urdf)" />

</robot>
