<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="marker_height"                value= "0.285"/><!-- [m] -->
  <xacro:property name="marker_ratio"                value= "0.1"/> <!--0.285"/> [m] -->

  <xacro:property name="w_pad"                value= "0.125"/> <!-- [m] -->
  <xacro:property name="h_pad"                value= "0.125"/> <!-- [m] -->
  <xacro:property name="x_pad"                value= "0.0"/> <!--[m] -->
  <xacro:property name="y_pad"                value= "0.0"/> <!-- [m] -->

  <xacro:property name="w_marker"                value= "0.10"/> <!-- [m] -->
  <xacro:property name="h_marker"                value= "0.10"/> <!-- [m] -->
  <xacro:property name="x_marker"                value= "0.0"/> <!-- [m] -->
  <xacro:property name="y_marker"                value= "0.0"/> <!-- [m] -->

  <xacro:property name="w_0"                value= "0.015"/> <!-- [m] -->
  <xacro:property name="h_0"                value= "0.07"/> <!-- [m] -->
  <xacro:property name="x_0"                value= "-0.0225"/> <!--[m] -->
  <xacro:property name="y_0"                value= "0.0"/> <!-- [m] -->

</robot>
